*{
    margin: 0px;  
}
.container{
    display: flex;
}
#prod{
    font-weight: 900;
    background-color: aqua;
    color: rgb(18, 22, 6);
    border-radius: 7px;
    border: 3px solid black;
    width: 380px;
    height: 180px;
    
}
#btnCar{
    font-style: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(196, 196, 189);
    cursor: pointer;   
}
