<div id="principal" class="container">
    <div class="card">
        <div id="prod" class="card" >
            <p>Código do Produto: {{ prod1.id_prod }}</p>
            <p>Nome: {{ prod1.name }}</p>
            <p>Valor R$: {{ prod1.valor }}</p>
            <p>Tamanho Disponível: {{ prod1.tamanho_prod }}</p>
            <p>Descrição: {{ prod1.desc_prod }}</p>
            <button id="btnCar">Adicionar ao Carrinho</button>
        </div>
    </div>
    <div class="card">
        <div id="prod" class="card" >
            <p>Código do Produto: {{ prod2.id_prod }}</p>
            <p>Nome: {{ prod2.name }}</p>
            <p>Valor R$: {{ prod2.valor }}</p>
            <p>Tamanho Disponível: {{ prod2.tamanho_prod }}</p>
            <p>Descrição: {{ prod2.desc_prod }}</p>
            <button id="btnCar">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>